<li class="ab-split" id="split-case" data-key="split-case">
            <a class="grouped-right" data-l10n-id="pad.toolbar.abSplit.title">
                <span class="buttonicon-ab-split"></span>
            </a>
        </li>
